body{
		background-color: #f7f7f7;
	}
	ul{
		padding-left: 20px;
	}
	table {
	    border-collapse: separate;
	    border: 0px solid black;
	    table-layout: fixed;
	    color:#4d94ff;
	    font-size: 1.3em;
	} 
	td{
	    word-wrap: break-word;         /* All browsers since IE 5.5+ */
	    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
	    border: 0px solid black;
	    height:180px;
	}
	.container-fluid{
		margin: 0px;
	}
	#header{
		position: fixed;
		background: #66a3ff;
		width:100vw;
		padding-top: 10px;
		height: 50px;
		min-width:485px; 
		z-index: 1;
	}
	#signout{
		background: #66a3ff;
		border-width: 0px;
		width:90px;
		height:30px;
		color: white;
		font-size: 0.9em;
	}
	#sidepane{
		position: fixed;
		height:90vh;
		background-color:white;
		padding-top: 10px;
		max-width: 216px;
		min-width: 210px;
		z-index: 1;
	}
	#main{
		margin-top: 60px;
		
	}
	.sidepane-button{
		color:#666666;
		border-width:0px;
		background: none;
		height:35px;
		width:100%;
		font-size: 1.1em;
		text-align: left;
	}
	
	#disc{
		width:30px;
		height:30px;
		border-radius: 15px;
		border-width: 0px;
		padding: 0px;
		display: none;
	}
	#box{
		width:180px;
		height:200px;
		background: white;
		padding: 10px;
		display: none;
		color:grey;
		position: relative;
		right:150px;
		box-shadow: 0.5px 0.5px 0.5px 1px grey;
	}
	#main-body{
		background: white;
		min-height:600px;/* min-height:90vh;*/
		margin-left: 250px;
		
	}
	#header-searchbar{
		border-width: 0px;
		width:65%;
		height:30px;
		border-radius: 1px;
		padding-left: 5px;
		color: grey;
		font-size: 1.15em;
	}
	#header-searchbutton{
		background: white;
		border-width: 0px;
		color:grey;
		width:30px;
		height:30px;
		border-radius: 1px;
	}
	#header-search{
		text-align: center;
	}
	#logo-text{
		font-size:20px;
		color:white;
		margin-right:5px;
	}
	#imgsrc{
		border-radius: 15px;
	}
	#box-img{
		border-radius: 20px;
	}
	#header-upload,#header-profile{
		text-align: center;
	}
	#header-uploadbutton{
		background: none;
		border-width: 0px;
		color: white;
		width:30px;
		height: 30px;
	}
